package components

import "github.com/dudubtw/receipt/constants"

templ ReceiptDropZone() {
	<div class="pointer-events-none fixed top-0 left-0 w-full h-full data-[active=false]:bg-black/0 data-[active=true]:bg-black/80" data-active="false" id={ constants.IdReceiptDropZone }></div>
}
